<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>CryptCloud+ Secure and Expressive Data</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
   <servlet>
        <servlet-name>RSAupload</servlet-name>
        <servlet-class>Action.Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>File_Upload</servlet-name>
        <servlet-class>Actionpage.File_Upload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Downloads</servlet-name>
        <servlet-class>Actionpage.Downloads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Download</servlet-name>
        <servlet-class>Action.Download</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RSAupload</servlet-name>
        <url-pattern>/RSAupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>File_Upload</servlet-name>
        <url-pattern>/File_Upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Downloads</servlet-name>
        <url-pattern>/Downloads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Download</servlet-name>
        <url-pattern>/Download</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
  </web-app>